/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  margin: 0;
  padding: 0;
}
header.main {
  text-align: center;
  @media (min-width: 30em) {
    text-align: left; 
  }
  background: #282;
  margin: 0;
  h1 {
    display: none;
  }
}
.content nav ul {
  list-style: none;
}
.content {
  margin: 0;
  padding: 0;

  display: flex;
  display: -webkit-flex;
  flex-direction: column; 
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  @media (min-width: 30em) {
    flex-direction: row; 
    -webkit-box-orient: horizontal;
  }
  .notice, #notice {
    background: #ffb;
    border-radius: 0.5em;
    border: solid 0.177em rgb(9, 105, 14);
    color: rgb(16, 97, 6);
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 1.414em;
    text-align: center;
  }
  #cart {
    article {
      h2 {
        margin-top: 0;
				display: block;
				font-size: 1.5em;
				margin-block-start: 0.83em;
				margin-block-end: 0.83em;
				margin-inline-start: 0px;
				margin-inline-end: 0px;
				font-weight: bold;
      }
      background: #bfb;
      border-radius: 0.5em;
      margin: 1em;
      padding: 1.414em;
      @media (min-width: 30em) {
        margin: 0;
      }
    }
  }             
  nav {
    padding-bottom: 1em;
    background: #141;
    text-align: center;
    @media (min-width: 30em) {
      text-align: left; 
      padding: 1em;
      padding-block-end: 10em;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
        @media (min-width: 30em) {
          padding-right: lem;
      }
      li {
        margin: 0;
        padding: 0.5em;
        text-transform: capitalize;
        letter-spacing: 0em;
        a {
          color: #bfb;
          text-decoration: none;
        }
        a:hover {
          background: none;
          color: white;
        }
      }
    }
  }
  main {
    padding: 8.5em;
    margin-right: -97em;
    margin-top: -17em;
    margin-bottom: 12em;
  }
}