// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@keyframes line-item-hightlight {
  0% {
    background: #8f8;
  }
  100% {
    background: none;
  }
}

.line-item-hightlight {
  animation: line-item-hightlight 1s;
}